<div id="<%= dom_id participant %>">
  <p>
    <strong>Registre:</strong>
    <%= participant.registre_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= participant.gender %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= participant.dob %>
  </p>

</div>
